html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #222;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

pre {
  white-space: pre-wrap;
  margin: 0px;
}

select {
  font-size: 24px;
  background-color: #323232;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .scrolling-content {
  padding-top: 80px;
}

#loading {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
  font-size: 48px;
}

#loading-app-logo {
  width: 500px;
  height: 100px;
}

#app {
  display: none;
}

#app-sticky-header {
  background-color: #222;
}

#app-content {
  display: block;
}

#app-logo {
  position: relative;
  width: 300px;
  height: 50px;
  float: right;
  margin-right: 1em;
}

#crew-selector{
  width: 10em;
}

#score-selector{
  width: 10em;
}

#score-info {
  color: #aaa;
  padding: 0.5em;
}

#main-tab-buttons {
  display: flex;
  margin-top: 1em;
  margin-left: 1%;
}

.tab-button {
  color: #b1b0b0;
  background-color: #323232;
  font-size: 24px;
  float: left;
  border: 1px solid #777;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  transition: 0.3s;
  margin-right: 0.5em;
}

.tab-button:hover {
  background-color: #7aba77;
  border: 1px solid white;
  color: black;
}

.tab-button.active {
  background-color: #087d00;
  color: black;
  border: 1px solid #80bf7b;
}

.tab-button-content {
  pointer-events: none;
}

#score-minimap {
  display: block;
  width: 97%;
  margin-left: 1%;
  background-color: #171717;
  border: 1px solid #777;
}

.score-minimap-section{
  display: inline-block;
  border: 1px solid black;
  height: 48px;
}

.tab-content {
  display: none;
  border: 1px solid #777;
  padding: 0.5em;
}

#score-tab {
}

#score-tab-content {
  display: flex;
}

#score-instruments-container {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#score-instruments-container-header {
  margin-bottom: 0.5em;
}

#score-scrolling-container {
  margin-top: 0.5em;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

#score-scrolling-content {
  display: flex;
}

.section-block-full {
  background-color: #171717;
  border: 1px solid #777;
  margin-bottom: 1em;
  padding: 0.5em;
}

.section-block-simple {
  background-color: #171717;
  border: 1px solid #777;
  margin: 0;
  padding: 0;
}

.play-button-icon {
  width: 50px;
  height: 26px;
}

.header-play-button {
  width: 50px;
}

.play-button {
  background-color: #323232;
  border: 1px solid #777;
  outline: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  transition: 0.3s;
}

.play-button:hover {
  background-color: #387650;
  color: white;
  border: 1px solid #52aa74;
}

.play-button.active {
  background-color: #b75757;
  color: white;
  border: 1px solid #d36565;
}

.section-header-container {
  display: flex;
}

.section-header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
  border: 1px solid #777;
}

.section-content {
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
}

.section-instrument-list {
  display: inline-block;
  width: 50px;
}

.section-instrument-row {
  background-color: #22222255;
  height: 48px;
  margin: 0px;
  overflow: hidden;
}

.section-instrument-icon {
  cursor: pointer;
  height: 43px;
  width: 43px;
  padding: 5px;
  margin-right: 1em;
}

.section-instrument-icon:hover {
  border: 1px solid white;
}

.section-instrument-icon:active {
  border: 2px solid #52aa74;
}

.section-track-list {
  display: inline-block;
  width: 100%;
}

.section-track-row {
  background-color: #22222255;
  height: 48px;
  width: 100%;
}

.section-track-16th {
  display: inline-block;
  background-color: #222;
  cursor: default;
  height: 90%;
  margin: 0px;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
}

.muted {
  opacity: 0.1;
}

.bar-start {
  background-color: #7a2828;
}

.beat-start {
  background-color: #3c2222;
}

.eighth-note-start {
  background-color: #2a2a2a;
}

.instrument-info {
  display: flex;
  background-color: #323232;
  margin-bottom: 1em;
  height: 32px;
  align-items: center;
}

.instrument-samples-container {
  display: flex;
}

.instrument-id {
  color: #8f8f8f;
  cursor: default;
  font-weight: bold;
  margin: 1em;
}

.instrument-icon {
  height: 32px;
  width: 32px;
  margin-right: 1em;
}

.instrument-name {
  cursor: default;
  width: 6em;
  margin-right: 1em;
}

.instrument-sample {
  cursor: pointer;
  font-size: 24px;
  background-color: #494949;
  color: white;
  border: 1px solid #7c7c7c;
  height: 32px;
  width: 32px;
}

.instrument-sample:hover {
  background-color: #387650;
  color: white;
  border: 1px solid #52aa74;
}

.instrument-sample:active {
  background-color: #57b77c;
  color: white;
  border: 1px solid #65d38f;
}
