body {
  background-color: #222;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 12px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 25%;
  color: white;
  text-align: center;
  font-size: 48px;
}

.toggle-play {
  display: flex;
}

.play-button {
  margin: auto;
  font-size: 24px;
}
